/**
 * Global site CSS
 */

body {
  background: #eee url(../img/concrete_seamless.png);
  padding-top: 64px;
  font-size: 14px
}

h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child {
  margin-top: 0;
}

button {
  outline: none!important;
}

.main-container {
  margin-top: 20px;
}

.white-box, .footer {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #ccc;
}

.text-centered {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: bold;
}

.sidebar {
  padding-left: 0;
}
.left-sidebar {
  padding-right: 0;
}

.footer {
  padding: 10px;
  margin: 40px 0 20px;
  font-size: 13px;
}

.col-centered {
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.alert-fixed {
  position: fixed;
  top: 75px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  font-size: 14px;
  box-shadow: 0px 2px 6px #999;
  z-index: 5;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media only screen and (min-width : 768px) {
  form.login input {
    width:190px!important;
  }
}

.userblock a {
  text-decoration: none;
}
.userblock a:hover span {
  text-decoration: underline;
} 
.userblock a small {
  font-size: 16px;
}
.userblock p {
  margin-bottom: 4px;
  line-height: 1.1;
}
.userblock img {
  width: 120px;
  height: 120px;
}